.flexbox-container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    background-color: coral;

}

.flexbox-item-1  {
    height: 250px;
    width: 100%;
    display: flex;
    





}

.flexbox-item-2 {
    height: 250px;
    width: 100%;
    display: flex;
    

    
}

.flexbox-item-3 {
    height: 250px;
    width: 100%;


}